.search-results {
    padding-left: 30px;
    margin: 16px;
    font-size: 16px;
}

.suggestions {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.suggestions span {
    font-size: 16px;
}

.suggestion-button {
    background-color: #fed7aa;
    color: #E7760E;
    padding: 8px;
    border-radius: 10px;
    font-size: 12px;
    font-family: 'Gilroy', sans-serif;
    border: 1px;
}